
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + ' - '}

block metatags
  - var articleURL = url + page.url
  - var articleTitle = page.metadata.title
  - var articleAbstract = page.metadata.abstract
  - var topImage = page.metadata.image
  - var imageLoc = page.metadata.imageloc
  - var featureImage = page.metadata.featureimage
  if !imageLoc
    - var imageLoc = 'center'
  if !featureImage && !topImage
    - var featureImage = locals.url + '/img/bio/dane_photo.jpg'
  else if !featureImage
    - var featureImage = articleURL + topImage
  else
    - var featureImage = articleURL + featureImage
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dane_collins')
  meta(name='twitter:url', content='#{articleURL}')
  meta(name='twitter:title', content='#{articleTitle}')
  if articleAbstract
    meta(name='twitter:description', content='#{articleAbstract}')
  meta(name='twitter:image', content='#{featureImage}')
  meta(property='og:title', content='#{articleTitle}')
  meta(property='og:type', content='article')
  meta(property='og:url', content='#{articleURL}')
  meta(property='og:image', content='#{featureImage}')
  meta(property='og:description', content='#{articleAbstract}')

block pagetop
  if !page.metadata.image
    header.header(style="background: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(30,22,50,1) 100%)")
      div.content-wrap
        a.menu-button.headroom.icon-menu(href="#")
            span.word= 'Menu'
        block header
          include author
          a(href='/')
            p.site-title= 'Dane Clark Collins'
          h1= page.title
          p.author
            | #{ 'Written by ' }
            mixin author(page.metadata.author)
          - var tags = env.helpers.getTagsFromArticle(page)
          .tags
            each tag in tags
              a.tag(href=env.helpers.getTagHome(tag).url)= tag
  else
    header.header(style="background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%, rgba(22,22,50,.5) 100%), url(#{topImage}); background-size: cover; background-position: center #{imageLoc}")
      div.content-wrap
        a.menu-button.headroom.icon-menu(href="#")
            span.word= 'Menu'
        block header
          include author
          a(href='/')
            p.site-title= 'Dane Clark Collins'
          h1= page.title
          p.author
            | #{ 'Written by ' }
            mixin author(page.metadata.author)
          - var tags = env.helpers.getTagsFromArticle(page)
          .tags
            each tag in tags
              a.tag(href=env.helpers.getTagHome(tag).url)= tag

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.articlenav
    a(href=contents.index.url) &laquo; Full blog
