
extends layout

block append vars
  - bodyclass = 'page'

block prepend title
  | #{ page.title + ' - '}

block metatags
  - var articleURL = url + page.url
  - var articleTitle = page.metadata.title
  - var articleAbstract = page.metadata.abstract
  - var topImage = page.metadata.image
  meta(name='twitter:card', content='summary')
  meta(name='twitter:site', content='@dane_collins')
  meta(name='twitter:url', content='#{articleURL}')
  meta(name='twitter:title', content='#{articleTitle}')
  if articleAbstract
    meta(name='twitter:description', content='#{articleAbstract}')
  //-meta(name='twitter:image', content='http://mrfrisby.com/stu.png')

block pagetop
  header.header(style="background: linear-gradient(to bottom, rgba(60,44,44,.2) 0%, rgba(22,22,22,.2) 100%), url(/img/backgrounds/home_background.jpg); background-size: cover")
    div.content-wrap
      a.menu-button.headroom.icon-menu(href="#")
          span.word= 'Menu'
      block header
        include author
        a(href='/')
          p.site-title= 'Dane Clark Collins'
        h1= page.title

block content
  article.article
    section.content!= typogr(page.html).typogrify()

block prepend footer
  div.articlenav
    a(href=contents.index.url) &laquo; Full blog
